<div class="row mt-5" style="height: 550px;">
      <div class="col-md-11 mx-auto">
          <div class="_he">
            <div class="sfm">
              <input type="text" placeholder="search here">
              <i class="fal fa-search"></i>
            </div>
              <button><i class="fal fa-th"></i></button>
              <select>
                <option *ngFor="let item of topics">
                  {{item?.name}}
                </option>
              </select>
          </div>

          <div class="_container">
              <div class="row">
                    <div class="col-md-4" *ngFor="let item of [].constructor(6)">
                      <div class="card my-2">
                          <div class="card-body"></div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
</div>
