.cart  {
  width: 100%;
  padding: 3rem;


  ._container {
    width: 100%;
    display: flex;
    height: 350px;

    ._list  {
      width: 70%;

      ._ctn {
        width: 100%;
        display: flex;
        justify-content: space-between;

        img {
          width: 30%;
        }

        .detail {
          width: 70%;
          text-align: center;
          span.title {
            font-size: 12px;
            font-weight: 700;
            color: #75777a;
          }

          span.sb {
            position: relative;
            font-size: 9px;
            font-weight: 700;
            color: #75777a;
          }

          span.sb::before {
            content: '';
            position: absolute;
            background-color: #2b646f;
            width: 9px;
            height: 9px;
            top: 5%;
            left: -20%;
            border-radius: 50%;
          }
        }
      }
    }

    ._check {
      width: 30%;
      border-left: 2px solid #3e3f41;
      height: 100%;
    }
  }
}
