<div class="cart">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <div *ngIf="shoppingCartItems?.length !== 0" class="_co">

        <div class="hdr">
          <span> {{shoppingCartItems?.length + ' Element(s) dans le panier'}}</span>
        </div>

        <div class="_container">

          <div class="_list">
            <div class="row">
              <div class="col-md-12" *ngFor="let item of shoppingCartItems; let i =index">
                <div class="card">
                  <div class="card-body p-1">
                    <div class="_ctn">
                      <div class="row">
                        <div class="col-md-3">
                          <img [src]="item?.preload" alt="">
                        </div>
                        <div class="col-md-7">
                          <div class="detail">
                            <span class="sb">{{item?.category}}</span><br>
                            <span class="title">{{item?.name + ' by '}}</span>
                            <span class="title">{{item?.instructor + ' and his team'}}</span>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <span class="cost">{{item?.cost +'$'}}</span><br>
                          <button class="btn"><i class="fal fa-trash"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="_check">
            <div class="_header">
                <span class="title">{{'Total: '}}</span><br>
                <span class="total">{{total + '$US'}}</span>


            </div>
            <div class="_fbot">
              <button class="btn"><small>{{'Checkout'}}</small></button>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="shoppingCartItems?.length === 0" class="_container-empty">

      </div>

    </div>
  </div>
</div>
