.contain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.element-clip {
  background-color: brown;
  color: #fff;
  height: inherit;
  animation: anima-clip 1s infinite alternate;
}

.contain i {
  position: absolute;
  color: #fff;
  animation: anima-icon 1s infinite alternate;
}

@keyframes anima-clip {
  0% {
    clip-path: circle(50% at 50% 50%);
  }

  100% {
    clip-path: circle(15% at 50% 50%);
  }
}

@keyframes anima-icon {
  0% {
    font-size: 2rem;
    top: 35%;
    left: 34%;
  }

  100% {
    top: 42%;
    left: 42%;
    font-size: 1rem;
  }
}
