.header {
  width: 100%;
  position: relative;

  .first__h {
    width: 100%;
    background-color: #1e2f50;
    .__container {
      display: flex;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      height: 46px;
      ._c1 {
        display: flex;
        width: 30%;
        padding-top: 10px;
        ._p1 {
          display: flex;
          width: 40%;
          a {
            display: block;
            padding-right: 17px;
            color: #fff;
          }
        }

        ._p2 {
          width: 50%;
          a {
            padding-left: 17px;
            color: #fff;
          }
        }

        .vh {
          height: 16px;
          background-color: #fff;
          width: 1px;
          margin-top: 4px;
        }
      }

      ._c3 {
        width: 50%;
      }

      ._c2 {
        display: flex;
        width: 20%;
        a {
          color: #fff;
        }
        padding-top: 10px;
      }
    }
  }

  .second__h {
    .__container {
      display: flex;
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      ._c1 {
        width: 15%;
        img {
          text-align: center;
          width: 80%;
        }
      }

      ._c2 {
        width: 10%;
        padding-top: 10px;
        a {
          width: 90%;
          text-align: center;
          display: block;
          padding: 5px;
          background-color: #46957b;
          color: #fff;
          small {
            margin-left: 5px;
          }
        }
      }

      ._c3 {
        width: 25%;
        padding: 10px;
        position: relative;
        input {
          width: 100%;
          border: 1px solid #a0a1a3;
          background-color: transparent;
          padding: 0.43rem 2rem;
          font-size: 12px;
          color: #a0a1a3;
        }
        input:focus {
          box-shadow: none;
          outline: none;
        }

        ::placeholder,
        ::-ms-input-placeholder {
          color: #a0a1a3;
        }

        i {
          position: absolute;
          top: 35%;
          left: 7%;
          color: #a0a1a3;
        }
      }

      ._c4 {
        width: 50%;
        padding-top: 10px;
        ._menus {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          justify-content: space-between;
          a {
            display: block;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
          }

          a::before {
            content: "";
            position: absolute;
            width: 0px;
            height: 3px;
            background-color: #fff;
            bottom: 15%;
            transition: width 0.3s ease-in-out;
          }

          a.active::before {
            width: 10px;
          }

          a:hover:not(.active)::before {
            width: 25px;
          }
        }
      }
    }
  }

  .f__m {
    display: none;
    width: 100%;
    background-color: #1e2f50;
    .__container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      ._c1 {
        display: flex;
        width: 70%;
        margin-right: auto;
        margin-left: 35px;
        padding-top: 25px;
        padding-bottom: 10px;
        justify-content: flex-start;
        a {
          display: block;
          padding-right: 17px;
          color: #fff;
        }
      }
      ._c2 {
        width: 90%;
        margin-left: auto;
        padding-top: 2px;
        margin-bottom: 0.3rem;
        a {
          color: #fff;
        }
      }
      ._c3 {
        display: flex;
        width: 80%;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        a {
          display: block;
          padding-right: 17px;
          color: #fff;
        }
      }
    }
  }

  .s__m {
    display: none;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    .__container {
      display: flex;
      width: 100%;
      padding: 6px;
      justify-content: space-between;
      ._c1 {
        width: 20%;
        img {
          display: block;
          width: 100%;
        }
      }

      ._c2 {
        width: 10%;
        color: #fff;
        a {
          text-align: center;
          display: block;
        }
      }
    }
  }
}

.p__A {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  display: flex;
  margin-bottom: 4rem;

  .__c {
    width: 50%;
    margin-left: 1rem;
    margin-top: 10rem;
    span.title_1 {
      display: block;
      font-size: 45px;
      font-weight: bold;
    }

    span.title_2 {
      margin-top: 3rem;
      display: block;
    }

    .r__ {
      position: relative;
      width: 30%;
      button.btn__a {
        background-color: #2b646f;
        width: 100%;
        height: 50px;
        color: #fff;
        border: none;
        border-radius: 0%;
        cursor: pointer;

        small {
          text-align: center;
        }
      }

      button:focus {
        outline: none;
        box-shadow: none;
      }

      button.btn__a::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: #fff;
        width: 0%;
        height: 2px;
        transition-duration: 0.2s;
      }

      button.btn__a::before {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        background-color: #fff;
        width: 0%;
        height: 2px;
        transition-duration: 0.2s;
      }

      button.btn__a span::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: #fff;
        width: 2px;
        height: 0px;
        transition-duration: 0.2s;
      }

      button.btn__a span::before {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        background-color: #fff;
        width: 2px;
        height: 0px;
        transition-duration: 0.2s;
      }

      button.btn__a:hover {
        background-color: transparent;
        color: #fff;
        transition-duration: 0.2s;
      }

      button.btn__a:hover::after {
        width: 100%;
      }

      button.btn__a:hover > span::before {
        height: 100%;
        transition-delay: 0.3s;
      }

      button.btn__a:hover::before {
        width: 100%;
        transition-delay: 0.6s;
      }

      button.btn__a:hover > span::after {
        height: 100%;
        transition-delay: 0.9s;
      }
    }
  }

  .__d {
    width: 45%;
    img {
      width: 100%;
    }
  }
}

.p__B {
  margin-top: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  .__c1 {
    padding-top: 5rem;
    padding-left: 2.4rem;
    padding-right: 1 rem;

    span.title {
      font-size: 30px;
      font-weight: bold;
      color: #1e2f50;
    }

    .quote {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.16px;
      color: #6f7072;

      .container {
        margin: 0;
        padding: 0 0 0 20px;
        border-style: solid;
        border-width: 0 0 0 2px;
        border-color: #ced9ee;
        border-radius: 0;
      }
    }
  }

  .__c2 {
    width: 100%;
    padding-top: 5rem;

    .card {
      border: 2px solid #46957b;

      .spo {
        font-size: 25px;
        font-weight: bold;
        color: #46957b;
      }
    }
  }
}

.p__C {
  margin-top: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;

  span {
    font-size: 30px;
    font-weight: bold;
    color: #1e2f50;
  }

  .__c1 {
    width: 100%;
    padding-top: 4.3rem;
    .card {
      height: 196px;
      cursor: pointer;
      border: 2px solid #46957b;
      small {
        font-weight: bold;
        color: #0a7552;
      }
    }

    .card:hover {
      border: none !important;
      -webkit-box-shadow: 0px 0px 13px -4px rgba(70, 149, 123, 0.55);
      -moz-box-shadow: 0px 0px 13px -4px rgba(70, 149, 123, 0.55);
      box-shadow: 0px 0px 13px -4px rgba(70, 149, 123, 0.55);

      img {
        width: 60%;
        transition: width 0.4s ease-in-out;
      }
    }
  }

  .__c2 {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .btn {
      width: 50%;
      border-radius: 0.45rem;
      border: 2px solid #46957b;
      color: #46957b;
    }

    .btn:hover {
      background-color: #46957b;
      color: #fff;
      transition: all 0.3s ease-in-out;
    }
  }
}

.p__D {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  .__container {
    width: 100%;
    span {
      font-size: 30px;
      font-weight: bold;
      color: #1e2f50;
    }

    .__c1 {
      width: 100%;
      padding-top: 1rem;

      .card {
        border: none;
        -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.15);
        height: 210px;

        .card-body {
          position: relative;
          ._avatar {
            display: flex;
            justify-content: space-between;
            width: 50%;
            img {
              border-radius: 50%;
              width: 50px;
              height: 50px;
            }
            .h {
              width: 60%;
              .title_1 {
                margin-top: 8px;
                font-size: 15px;
                font-weight: bold;
                color: #1e2f50;
              }

              .title_2 {
                margin-top: 8px;
                font-size: 12px;
                font-weight: bold;
                color: #506ba0;
              }
            }
          }

          .qt_h {
            .fa-quote-right {
              color: #506ba0;
            }

            p {
              font-size: 16px;
              font-weight: 400;
              line-height: 26px;
              letter-spacing: 0.16px;
              color: #6f7072;
            }
          }
        }
      }

      .slide:focus {
        outline: none !important;
      }

      .nav_pag {
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        justify-content: space-between;
        display: flex;
      }
    }
  }
}

.p__E {
  margin-top: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;

  span {
    font-size: 30px;
    font-weight: bold;
    color: #1e2f50;
  }

  .__container {
    padding-top: 4.5rem;
    width: 100%;

    .hd_img {
      width: 100%;
      overflow: hidden;

      img {
        height: 250px;
        width: 100%;
      }
    }

    .v__e {
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      .f__l {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 20px;
        span {
          margin-right: 20px;
          color: #666;
          font-size: 14px;
        }

        span.f::before {
          position: absolute;
          left: -10px;
          top: 9px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -ms-border-radius: 50%;
          content: "";
          background: #0eb582;
        }

        span.s::before {
          position: absolute;
          right: 49%;
          top: 9px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -ms-border-radius: 50%;
          content: "";
          background: #0eb582;
        }
      }
      .s__l {
        margin-top: 20px;
        span {
          font-size: 24px;
          font-weight: 900;
          line-height: 30px;
          letter-spacing: -0.24px;
          margin: 0 0 20px;
        }
      }
      .t__l {
        margin-top: 10px;
        color: #6f7072;
        font-size: 14px;
      }

      a {
        color: #6f7072;
      }
    }

    .event {
      .__item {
        padding-bottom: 5px;
        border-bottom: 1px dashed #e8e8e8;
        display: flex;
        align-items: flex-start;

        ._dat {
          padding-right: 30px;
          margin-right: 30px;
          border-right: 1px dashed #e8e8e8;
          align-self: center !important;

          span {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.18px;
            display: block;
          }

          h3 {
            font-size: 36px;
            font-weight: 700;
            letter-spacing: -0.36px;
            color: #333;
          }
        }

        ._body {
          position: relative;
            span {
              margin-bottom: 10px;
              display: inline-block;
              a {
                position: relative;
                padding-left: 15px;
                font-size: 16px;
                color: #6f7072;
                text-decoration: none;

              }
            }

            span::before {
              position: absolute;
              left: -10px;
              top: 23.5px;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -ms-border-radius: 50%;
              content: "";
              background: #0eb582;
            }

            h4 {
              font-size: 22px;
              line-height: 26px;
              font-weight: 700;
              letter-spacing: -0.24px;
              a {
                color: #333;
                outline: 0;
                text-decoration: none;

              }
            }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  position: relative;
  margin-top: 8rem;
  // height: 460px;
  .__container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 240px;
    background-color: #2b646f;
    position: absolute;
    top: -15%;
    left: 15%;
  }

  ._c_rf{
    width: 100%;
    background-color: #1e2f50;
    height: 400px;
   }

}

.i_p1 {
  position: absolute;
  top: 0%;
  z-index: -20;
  width: 100%;
  height: 641px;
}

@media (max-width: 600px) {
  .first__h,
  .second__h {
    display: none;
    overflow: hidden;
  }

  .f__m,
  .s__m {
    display: block !important;
  }
}
