<div class="header">
      <div class="first__h">
          <div class="__container">
              <div class="_c1">
                    <a><i class="fab fa-facebook"></i></a>
                    <a><i class="fab fa-linkedin"></i></a>
                    <a><i class="fab fa-twitter"></i></a>
                    <a><i class="fab fa-instagram"></i></a>
              </div>
              <div class="_c2">
                  <a >{{'roodolphe@live.fr'}}</a>
              </div>
          </div>
      </div>
      <div class="second__h">

      </div>
</div>
