.header {
  width: 100%;
  position: relative;

  .first__h {
    width: 100%;
    background-color: #1e2f50;
    .__container {
      display: flex;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      height: 46px;
      ._c1 {
        display: flex;
        width: 30%;
        padding-top: 10px;
        ._p1 {
          display: flex;
          width: 40%;
           a {
              display: block;
              padding-right: 17px;
              color: #fff;
           }
        }

        ._p2 {
          width: 50%;
            a {
              padding-left: 17px;
              color: #fff;
            }
        }

        .vh {
          height: 16px;
          background-color: #fff;
          width: 1px;
          margin-top: 4px;
        }

      }

      ._c3 {
        width: 50%;
      }

      ._c2 {
        display: flex;
        width: 20%;
        a {
            color: #fff;
        }
        padding-top: 10px;
      }

    }


  }
}

@media (max-width: 600px) {
  .first__h {
    display: none;
    overflow: hidden;
  }
}
