<!-- Start Header -->
<div class="header">
  <div class="first__h">
    <div class="__container">
      <div class="_c1">
        <div class="_p1">
          <a><i class="fab fa-facebook"></i></a>
          <a><i class="fab fa-linkedin"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-instagram"></i></a>
        </div>
        <span class="vh"></span>
        <div class="_p2">
          <a><i class="fas fa-envelope"></i> &nbsp;<small>{{'roodolphe@live.fr'}}</small></a>
        </div>
      </div>
      <div class="_c3"></div>
      <div class="_c2">
        <a> <i class="fas fa-user"></i>&nbsp;<small>{{'Login'}}</small></a>&nbsp;
        <a>/&nbsp;<small>{{'Register'}}</small></a>
      </div>
    </div>
  </div>
  <div class="second__h">
    <div class="__container">
      <div class="_c1">
        <img src="../assets/img/logo.png" alt="">
      </div>
      <div class="_c2">
        <a><i class="fal fa-cubes"></i><small class="ml-3">{{'Topics'}}</small></a>
      </div>
      <div class="_c3">
        <form>
          <input type="text" placeholder="Search, what you want to learn ">
          <i class="fal fa-search"></i>
        </form>
      </div>
      <div class="_c4">
        <div class="_menus">
          <a class="active"><small>{{'Home'}}</small></a>
          <a><small>{{'Courses'}}</small></a>
          <a><small>{{'Projects'}}</small></a>
          <a><small>{{'Blog'}}</small></a>
          <a><small>{{'Contact'}}</small></a>
          <a><small>{{'About'}}</small></a>
        </div>
      </div>
    </div>
  </div>

  <div class="f__m">
    <div class="__container">
      <div class="_c3">
          <a><i class="fab fa-facebook"></i></a>
          <a><i class="fab fa-linkedin"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-instagram"></i></a>
      </div>
      <div class="_c2">
        <a><i class="fal fa-envelope"></i>&nbsp;<small class="ml-2">{{'roodolphe@live.fr'}}</small></a>
      </div>
      <div class="_c1">
        <a> <i class="fas fa-user"></i>&nbsp;<small>{{'Login'}}</small></a>
        <a>/&nbsp;<small>{{'Register'}}</small></a>
      </div>

    </div>
  </div>

  <div class="s__m">
      <div class="__container">
            <div class="_c1">
                <img src="../assets/img/logo.png" alt="">
            </div>
            <div class="_c2">
              <a><i class="fal fa-bars"></i></a>
            </div>
      </div>
  </div>
</div>
<!-- End Header -->


<div class="p__A">
    <div class="__c">
          <span class="title_1">{{'We Envision World’s Best'}}<br>{{'Learning Experience.'}}</span>
          <span class="title_2">{{'Yorhood’s courses is for every one from different age groups'}}<br>{{' and with various level of skills.'}}</span>

          <div class="r__ mt-4">
            <button class="btn__a"><span></span><small>{{'Join us'}}</small></button>
          </div>
    </div>
    <div class="__d">
        <img src="../assets/img/banner.png" alt="">
    </div>
</div>

<!-- End Banner Part_A -->

<div class="p__B">
    <div class="row">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-6">
                        <div class="__c1">
                              <span class="title">{{'We are Yorhood.'}} <br>
                              {{'An online learning community'}}</span>
                              <div class="quote mt-4">
                                <div class="container">
                                  <p>{{'At Yorhood, we believe everyone should have the opportunity to create progress through technology and develop the skills of tomorrow. With assessments, learning paths and courses authored by industry experts.'}}</p>
                                </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-6">
                    <div class="__c2">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="card">
                            <div class="card-body text-center">
                                <img src="../assets/img/book.png" alt="">
                                <div class="my-2">
                                    <span class="spo">{{'+5180'}}</span><br>
                                    <small class="text-muted">{{'Course'}}</small>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card">
                            <div class="card-body text-center">
                                <img src="../assets/img/reading.png" alt="">
                                <div class="my-2">
                                  <span class="spo">{{'Award'}}</span><br>
                                    <small class="text-muted">{{'Winner'}}</small>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card">
                            <div class="card-body text-center">
                                <img src="../assets/img/wreath-award-circular-branches-symbol.png" alt="">
                                 <div class="my-2">
                                  <span class="spo">{{'+15180'}}</span><br>
                                    <small class="text-muted">{{'Students'}}</small>
                                 </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    </div>

                  </div>
              </div>
          </div>
    </div>
</div>

<!-- End Banner Part_B -->
<div class="p__C">
    <span class="float-right">{{'Popular Subjects'}}</span>
    <div class="__c1">
        <div class="row">
            <div class="col-md-2" *ngFor="let item of topics">
              <div class="card my-2">
                  <div class="card-body p-2 text-center">
                      <img [src]="item?.img" alt=""><br>
                      <small class="mt-2">{{item?.name}}</small><br>
                      <small class="mt-2">{{item?.course}}</small>
                  </div>
              </div>
            </div>
        </div>
    </div>

    <div class="__c2">
          <div class="row">
                <div class="col-md-4 mx-auto text-center">
                      <button class="btn"><i class="fas fa-plus "></i> &nbsp;<small class="ml-3">{{'show more'}}</small></button>
                </div>
          </div>
    </div>

</div>

<!-- End Banner Part C -->

<div class="p__D">
    <div class="__container">
          <span class="title">{{'Student\'s Advices '}}</span>
    </div>
</div>

<img class="i_p1" src="../assets/img/bg.png" alt="">
