<div *ngIf="boot === true">

  <!-- Start Header -->
<div class="header">
  <div class="first__h">
    <div class="__container">
      <div class="_c1">
        <div class="_p1">
          <a><i class="fab fa-facebook"></i></a>
          <a><i class="fab fa-linkedin"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-instagram"></i></a>
        </div>
        <span class="vh"></span>
        <div class="_p2">
          <a><i class="fas fa-envelope"></i> &nbsp;<small>{{'roodolphe@live.fr'}}</small></a>
        </div>
      </div>
      <div class="_c3"></div>
      <div class="_c2">
        <a data-toggle="modal" data-target=".connex_modal"> <i class="fas fa-user"></i>&nbsp;<small>{{'Connexion'}}</small></a>
      </div>
    </div>
  </div>
  <div class="second__h" [ngClass]="{'fixed': fixed === true , '': fixed === false}">
    <div class="__container">
      <div class="_c1">
        <img src="../assets/img/log2.png" alt="">
      </div>
      <div class="_c2">
        <a><i class="fal fa-cubes"></i><small class="ml-3">{{'Topics'}}</small></a>
      </div>
      <div class="_c3">
        <form>
          <input type="text" placeholder="Search, what you want to learn ">
          <i class="fal fa-search"></i>
        </form>
      </div>
      <div class="_c4">
        <div class="_menus">
          <a routerLink="/home" routerLinkActive="active"><small>{{'Home'}}</small></a>
          <a routerLink="/courses" routerLinkActive="active"><small>{{'Courses'}}</small></a>
          <a routerLink="/blog" routerLinkActive="active"><small>{{'Blog'}}</small></a>
          <a routerLink="/contact" routerLinkActive="active"><small>{{'Contact'}}</small></a>
          <a routerLink="/about" routerLinkActive="active"><small>{{'About'}}</small></a>
          <div class="_ac">
              <img src="../assets/img/AM3.png" alt="">
          </div>

          <button class="btn" (click)="opbasket()">
              <i class="fal fa-shopping-cart"></i>
              <span class="badge">{{shoppingCartItems?.length}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="f__m">
    <div class="__container">
      <div class="_c3">
        <a><i class="fab fa-facebook"></i></a>
        <a><i class="fab fa-linkedin"></i></a>
        <a><i class="fab fa-twitter"></i></a>
        <a><i class="fab fa-instagram"></i></a>
      </div>
      <div class="_c2">
        <a><i class="fal fa-envelope"></i>&nbsp;<small class="ml-2">{{'roodolphe@live.fr'}}</small></a>
      </div>
      <div class="_c1">
        <a> <i class="fas fa-user"></i>&nbsp;<small>{{'Login'}}</small></a>
        <a>/&nbsp;<small>{{'Register'}}</small></a>
      </div>

    </div>
  </div>

  <div class="s__m">
    <div class="__container">
      <div class="_c1">
        <img src="../assets/img/logo.png" alt="">
      </div>
      <div class="_c2">
        <a><i class="fal fa-bars"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- End Header -->


<!-- Body -->
<router-outlet></router-outlet>

<!-- body -->

<div class="modal fade connex_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="_container">
            <div class="_stick" [@x-x0]="state === false ? 'left': 'right'">
            </div>
            <div class="_viewf" [@x-y0]="state === false ? 'right': 'left'">
                <app-auth (state)="getStmt($event)"></app-auth>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="basket">
    <button class="btn" (click)="clbasket()"><i class="fal fa-times"></i></button>
</div>

</div>

<div *ngIf="boot === false" >
  <app-loading></app-loading>
</div>
