<div class="row mt-5">
    <div class="col-md-10 mx-auto">
          <div class="row">
              <div class="col-md-8">
                  <div class="row">
                      <div class="col-md-12" *ngFor="let item of [].constructor(2)">
                        <div class="card m-2">
                          <div class="card-body p-0">
                              <img src="../../assets/img/title.png" alt="">
                          </div>
                          <div class="card-footer">
                                <div class="fl">
                                      <span><i class="fal fa-user"></i>&nbsp;<a >{{'Floyd Mayweather'}}</a></span>
                                      <span><i class="fal fa-clock"></i>&nbsp;<a >{{'November 25, 2019'}}</a></span>
                                      <span><i class="fal fa-folder"></i>&nbsp;<a >{{'Javascript'}}</a></span>
                                </div>
                                <div class="sl">
                                    <span><a>{{'Python and JS Course may be online'}}</a></span>
                                </div>

                                <div class="tl">
                                    <span><p>{{'Creating software tailored to my games development gaming is a world entertainment phenomenon. The global games market is currently valued at $137.9 billion, by 2021 it’s expected to be worth $180 billion (Source, Newzoo). The programme is delivered through Coursera,…'}}</p></span>
                                </div>

                                <div class="ql">
                                    <button class="btn"><small>{{'Continue'}} &nbsp;<i class="fal fa-arrow-right"></i></small></button>
                                </div>

                          </div>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="card m-2">
                              <div class="card-header">
                                <div class="f-input">
                                  <input type="text" placeholder="Search">
                                  <button class="btn"><i class="fal fa-search"></i></button>
                                </div>
                              </div>
                              <div class="card-body">
                                  <h4 class="title">{{'Recent Posts'}}</h4>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>

</div>



<img class="i_p1" src="../../assets/img/bg.png" alt="">

<div class="bg"></div>

<footer>
  <div class="footer">
    <div class="__container">
      <div class="_c1">
        <div class="title">
          <h2>{{'Join our community of students'}}</h2>
        </div>

        <div class="newl">
          <form>
            <input type="text" placeholder="yorhood@exemple.com">
            <button><small>{{'Join'}}</small></button>
          </form>
        </div>

      </div>
    </div>
    <div class="_c_rf">
      <div class="u">
        <div class="row">
          <div class="col-md-3">
            <div class="crt_i">
              <h6>{{'COMPANY'}}</h6>
            </div>

            <div class="yte">
              <ul>
                <li><a>{{'About'}}</a></li>
                <li><a>{{'Careers'}}</a></li>
                <li><a>{{'Resource center'}}</a></li>
                <li><a>{{'Guides'}}</a></li>
              </ul>
            </div>

          </div>
          <div class="col-md-3">
            <div class="crt_i">
              <h6>{{'CATEGORIES'}}</h6>
            </div>
            <div class="yte">
              <ul>
                <li><a>{{'All Courses'}}</a></li>
                <li><a>{{'Digital Marketing'}}</a></li>
                <li><a>{{'Design & Branding'}}</a></li>
                <li><a>{{'Storytelling & Voice Over'}}</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="crt_i">
              <h6>{{'SUPPORT'}}</h6>
            </div>
            <div class="yte">
              <ul>
                <li><a>{{'Contact Us'}}</a></li>
                <li><a>{{'System Requirements'}}</a></li>
                <li><a>{{'Register Activation Key'}}</a></li>
                <li><a>{{'Site feedback'}}</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="crt_i">
              <h6>{{'GET IN TOUCH '}}</h6>
            </div>
            <div class="yte">
              <ul>
                <li><a>{{'Contact Support'}}</a></li>
                <li><a>{{'SHelp Center'}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="ui_f">
          <div class="logo">
            <img src="../../assets/img/log2.png" alt="">
          </div>
          <div class="copy_r">
            <span>{{'Copyright © 2020 Yorhood. All Right Reserved.'}}</span>
          </div>
          <div class="nav__bottom">
            <a><i class="fab fa-facebook"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
            <a><i class="fab fa-twitter"></i></a>
            <a><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
