


<div class="p__A">
  <div class="__c">
    <span class="title_1">{{'We Envision World’s Best'}}<br>{{'Learning Experience.'}}</span>
    <span
      class="title_2">{{'Yorhood’s courses is for every one from different age groups'}}<br>{{' and with various level of skills.'}}</span>

    <div class="r__ mt-4">
      <button class="btn__a"><span></span><small>{{'Join us'}}</small></button>
    </div>
  </div>
  <div class="__d">
    <img src="../assets/img/banner.png" alt="">
  </div>
</div>

<!-- End Banner Part_A -->

<div class="p__B">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="__c1">
            <span class="title">{{'We are Yorhood.'}} <br>
              {{'An online learning community'}}</span>
            <div class="quote mt-4">
              <div class="container">
                <p>
                  {{'At Yorhood, we believe everyone should have the opportunity to create progress through technology and develop the skills of tomorrow. With assessments, learning paths and courses authored by industry experts.'}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="__c2">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body text-center">
                    <img src="../assets/img/book.png" alt="">
                    <div class="my-2">
                      <span class="spo">{{'+5180'}}</span><br>
                      <small class="text-muted">{{'Course'}}</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body text-center">
                    <img src="../assets/img/reading.png" alt="">
                    <div class="my-2">
                      <span class="spo">{{'Award'}}</span><br>
                      <small class="text-muted">{{'Winner'}}</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body text-center">
                    <img src="../assets/img/wreath-award-circular-branches-symbol.png" alt="">
                    <div class="my-2">
                      <span class="spo">{{'+15180'}}</span><br>
                      <small class="text-muted">{{'Students'}}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Banner Part_B -->
<div class="p__C">
  <span class="float-right">{{'Popular Subjects'}}</span>
  <div class="__c1">
    <div class="row">
      <div class="col-md-2" *ngFor="let item of topics">
        <div class="card my-2">
          <div class="card-body p-2 text-center">
            <img [src]="item?.img" alt=""><br>
            <small class="mt-2">{{item?.name}}</small><br>
            <small class="mt-2">{{item?.course + ' courses'}} </small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="__c2">
    <div class="row">
      <div class="col-md-4 mx-auto text-center">
        <button class="btn"><i class="fas fa-plus "></i> &nbsp;<small class="ml-3">{{'show more'}}</small></button>
      </div>
    </div>
  </div>

</div>

<!-- End Banner Part C -->

<div class="p__D">
  <div class="__container">
    <span class="title">{{'Student\'s Advices '}}</span>

    <div class="__c1">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides; let i = index" class="slide card m-4">
          <div class="card-body">
            <div class="_avatar">
              <img [src]="slide?.img" alt="" width="100%">
              <div class="h">
                <span class="title_1">{{slide?.user}}</span><br>
                <span class="title_2">{{slide?.grade}}</span>
              </div>
            </div>
            <div class="qt_h">
              <i class="fas fa-quote-right float-right"></i>
              <p class="mt-3">{{'People program enabled me to be a fuller me, using differe skills and behaviors...'}}
              </p>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>

      <div class="nav_pag">
        <button class="btn" (click)="slickModal.slickGoTo(1)"><i class="fal fa-circle"></i></button>
        <!-- <button class="btn"><i class="fal fa-circle"></i></button> -->
        <button class="btn" (click)="slickModal.slickGoTo(4)"><i class="fal fa-circle"></i></button>
      </div>

      <!-- <button (click)="addSlide()">Add</button>
      <button (click)="removeSlide()">Remove</button>
      <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
      <button (click)="slickModal.unslick()">unslick</button> -->
    </div>
  </div>
</div>

<!-- End Banner Part D -->

<div class="p__E">
  <span class="float-right">{{'News & Events'}}</span>

  <div class="__container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body p-1">
            <div class="hd_img">
              <img src="../assets/img/_robotics.png" alt="" srcset="">
            </div>
            <div class="v__e">
              <div class="f__l">
                <span class="f">{{'Robotic'}}</span>
                <span class="s">{{'November 25th, 2020'}}</span>
              </div>

              <div class="s__l">
                <span>{{'Python and Three.js Course may be online'}}</span>
              </div>

              <div class="t__l">
                <p>{{'Creating software tailored to my games development gaming is a'}}</p>
              </div>
              <a class="btn">
                <i class="fal fa-chevron-circle-down"></i>
                &nbsp;
                <small>{{'read more'}}</small>
              </a>


            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body p-1">
            <div class="hd_img">
              <img src="../assets/img/_teaching.png" alt="" srcset="">
            </div>
            <div class="v__e">
              <div class="f__l">
                <span class="f">{{'Analytic'}}</span>
                <span class="s">{{'December 2nd, 2020'}}</span>
              </div>

              <div class="s__l">
                <span>{{'UML and Agile Course may be online'}}</span>
              </div>

              <div class="t__l">
                <p>{{'Creating software tailored to my games development gaming is a'}}</p>
              </div>
              <a class="btn">
                <i class="fal fa-chevron-circle-down"></i>
                &nbsp;
                <small>{{'read more'}}</small>
              </a>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event">
          <div class="__item" *ngFor="let item of [].constructor(4)">
            <div class="_dat">
              <span>{{'Nov'}}</span>
              <h3>{{'23'}}</h3>
            </div>
            <div class="_body">
              <span><a>{{'Music & Arts'}}</a></span>
              <h4><a>{{'Tackling the climate crisis worldwide'}}</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- End Banner Part E -->

<div class="footer">
  <div class="__container">
    <div class="_c1">
      <div class="title">
        <h2>{{'Join our community of students'}}</h2>
      </div>

      <div class="newl">
        <form>
          <input type="text" placeholder="yorhood@exemple.com">
          <button><small>{{'Join'}}</small></button>
        </form>
      </div>

    </div>
  </div>
  <div class="_c_rf">
    <div class="u">
      <div class="row">
        <div class="col-md-3">
          <div class="crt_i">
            <h6>{{'COMPANY'}}</h6>
          </div>

          <div class="yte">
            <ul>
              <li><a>{{'About'}}</a></li>
              <li><a>{{'Careers'}}</a></li>
              <li><a>{{'Resource center'}}</a></li>
              <li><a>{{'Guides'}}</a></li>
            </ul>
          </div>

        </div>
        <div class="col-md-3">
          <div class="crt_i">
            <h6>{{'CATEGORIES'}}</h6>
          </div>
          <div class="yte">
            <ul>
              <li><a>{{'All Courses'}}</a></li>
              <li><a>{{'Digital Marketing'}}</a></li>
              <li><a>{{'Design & Branding'}}</a></li>
              <li><a>{{'Storytelling & Voice Over'}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="crt_i">
            <h6>{{'SUPPORT'}}</h6>
          </div>
          <div class="yte">
            <ul>
              <li><a>{{'Contact Us'}}</a></li>
              <li><a>{{'System Requirements'}}</a></li>
              <li><a>{{'Register Activation Key'}}</a></li>
              <li><a>{{'Site feedback'}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="crt_i">
            <h6>{{'GET IN TOUCH '}}</h6>
          </div>
          <div class="yte">
            <ul>
              <li><a>{{'Contact Support'}}</a></li>
              <li><a>{{'SHelp Center'}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="ui_f">
        <div class="logo">
          <img src="../assets/img/log2.png" alt="">
        </div>
        <div class="copy_r">
          <span>{{'Copyright © 2020 Yorhood. All Right Reserved.'}}</span>
        </div>
        <div class="nav__bottom">
          <a><i class="fab fa-facebook"></i></a>
          <a><i class="fab fa-linkedin"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- banner bg -->
<img class="i_p1" src="../assets/img/bg.png" alt="">
